<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/add.css">
</head>
<body>
    <div class="head">
        <a href="/profile" class="button">Profile</a>
       <a href="/feed" class="button">Feed</a>
       <a href="/logout" class="button">Logout</a>
   </div>
    <div class="add">
        <h1>ADD</h1>
         <div class="add1">
            
         <form action="/upload" method="post" enctype="multipart/form-data">
        
        <input class="input2" type="text" name="filecaption" placeholder="some caption">
        <input class="input" type="file" name="file">
        <input  type="submit" class="center">
     </form>
    </div>
    </div>
</body>
</html>
